Dashboard-Final
[
    {
        "id": "56c675a926d60f6e",
        "type": "tab",
        "label": "Elderly Water System V2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3fa85d9a11698f17",
        "type": "ui_button",
        "z": "56c675a926d60f6e",
        "name": "Normal Mode",
        "group": "ui_group_profile",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "บุคคลทั่วไป (Normal)",
        "tooltip": "เป้าหมาย 2.5 ลิตร/วัน",
        "color": "white",
        "bgcolor": "#28a745",
        "className": "",
        "icon": "accessibility",
        "payload": "normal",
        "payloadType": "str",
        "topic": "health_status",
        "topicType": "str",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "af68c2b5cdc61946"
            ]
        ]
    },
    {
        "id": "df8be1ee4f583a26",
        "type": "ui_button",
        "z": "56c675a926d60f6e",
        "name": "Sick Mode",
        "group": "ui_group_profile",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "ผู้ป่วย (Sick)",
        "tooltip": "คำนวณตามน้ำหนักและโรค",
        "color": "white",
        "bgcolor": "#ffc107",
        "className": "",
        "icon": "local_hospital",
        "payload": "sick",
        "payloadType": "str",
        "topic": "health_status",
        "topicType": "str",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "af68c2b5cdc61946"
            ]
        ]
    },
    {
        "id": "26f2a81852332ff4",
        "type": "ui_form",
        "z": "56c675a926d60f6e",
        "name": "Setup Profile",
        "label": "กรอกข้อมูลพื้นฐาน (สำหรับโหมดผู้ป่วย)",
        "group": "ui_group_profile",
        "order": 3,
        "width": "6",
        "height": "0",
        "options": [
            {
                "label": "อายุ (ปี)",
                "value": "age",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "น้ำหนัก (kg)",
                "value": "weight",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "ส่วนสูง (cm)",
                "value": "height",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "ปัสสาวะ (ml)",
                "value": "urine",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "age": "",
            "weight": "",
            "height": "",
            "urine": ""
        },
        "payload": "",
        "submit": "บันทึกข้อมูล",
        "cancel": "ล้าง",
        "topic": "form_data",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "af68c2b5cdc61946"
            ]
        ]
    },
    {
        "id": "b201edd6eb627efa",
        "type": "ui_dropdown",
        "z": "56c675a926d60f6e",
        "name": "Gender",
        "label": "เพศ",
        "tooltip": "",
        "place": "",
        "group": "ui_group_profile",
        "order": 4,
        "width": 6,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "ชาย",
                "value": "male",
                "type": "str"
            },
            {
                "label": "หญิง",
                "value": "female",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "sex",
        "topicType": "str",
        "className": "",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "af68c2b5cdc61946"
            ]
        ]
    },
    {
        "id": "d9baa5cc483e20eb",
        "type": "ui_dropdown",
        "z": "56c675a926d60f6e",
        "name": "Diseases",
        "label": "โรคประจำตัว",
        "tooltip": "",
        "place": "",
        "group": "ui_group_profile",
        "order": 5,
        "width": 6,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "ไม่มี",
                "value": 5,
                "type": "num"
            },
            {
                "label": "โรคไตวายเรื้อรัง",
                "value": 1,
                "type": "num"
            },
            {
                "label": "ติดเชื้อทางเดินปัสสาวะ",
                "value": 2,
                "type": "num"
            },
            {
                "label": "โรคเบาหวาน",
                "value": 3,
                "type": "num"
            },
            {
                "label": "โรคนิ่วในไต",
                "value": 4,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "diseases",
        "topicType": "str",
        "className": "",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "af68c2b5cdc61946"
            ]
        ]
    },
    {
        "id": "af68c2b5cdc61946",
        "type": "function",
        "z": "56c675a926d60f6e",
        "name": "Save & Merge Profile",
        "func": "let profile = flow.get('userProfile') || {};\nif (msg.topic === 'form_data') {\n    profile = { ...profile, ...msg.payload };\n} else if (msg.topic === 'sex') {\n    profile.sex = msg.payload;\n} else if (msg.topic === 'diseases') {\n    profile.diseases = msg.payload;\n} else if (msg.topic === 'health_status') {\n    profile.healthStatus = msg.payload;\n}\nflow.set('userProfile', profile);\nmsg.payload = profile;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [
            [
                "49fd19ddc9644d7f"
            ]
        ]
    },
    {
        "id": "cc59a293ed93948e",
        "type": "mqtt in",
        "z": "56c675a926d60f6e",
        "name": "Board 2 Temp",
        "topic": "b6810504044/room/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0396c2c9339809f4",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "11b51d109348f938"
            ]
        ]
    },
    {
        "id": "720bb63476ecc229",
        "type": "mqtt in",
        "z": "56c675a926d60f6e",
        "name": "Board 2 Humid",
        "topic": "b6810504044/room/humid",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0396c2c9339809f4",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "21b827c5bf23d2f1"
            ]
        ]
    },
    {
        "id": "11b51d109348f938",
        "type": "function",
        "z": "56c675a926d60f6e",
        "name": "Store Temp",
        "func": "global.set('current_temp', parseFloat(msg.payload));\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 360,
        "wires": [
            [
                "49fd19ddc9644d7f",
                "85c0f7e612f5c21f"
            ]
        ]
    },
    {
        "id": "21b827c5bf23d2f1",
        "type": "function",
        "z": "56c675a926d60f6e",
        "name": "Store Humid",
        "func": "global.set('current_humid', parseFloat(msg.payload));\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 400,
        "wires": [
            [
                "291d06e4c9be78d5"
            ]
        ]
    },
    {
        "id": "c52b7be353ac38ae",
        "type": "mqtt in",
        "z": "56c675a926d60f6e",
        "name": "Board 1 Water",
        "topic": "glass/drunk_event",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0396c2c9339809f4",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "d67278a954da8175"
            ]
        ]
    },
    {
        "id": "d67278a954da8175",
        "type": "function",
        "z": "56c675a926d60f6e",
        "name": "Daily & Hourly Accumulator",
        "func": "let currentHour = new Date().getHours();\n\n// 1. SAFE LOGICAL DAY FIX (Handles months properly)\nlet d = new Date();\nd.setHours(d.getHours() - 6);\nlet logicalDay = d.getDate();\n\nlet amount = parseFloat(msg.payload) || 0;\n\n// 2. Original Glitch Filter (Reverted to 300% limit)\nlet tracking = flow.get('waterTracking') || { targetPerHour: 100 }; // Fallback value\nlet maxAllowed = tracking.targetPerHour * 3;\n\nif (amount <= 0 || amount > maxAllowed) {\n    return null; \n}\n\n// 3. Hourly Tracking\nlet hourlyData = flow.get('hourlyWater') || { hour: currentHour, total: 0 };\nif (hourlyData.hour !== currentHour) {\n    hourlyData = { hour: currentHour, total: 0 };\n}\n\nhourlyData.total += amount;\nflow.set('hourlyWater', hourlyData);\n\n// 4. Daily Tracking (Resets at 6:00 AM)\nlet dailyData = flow.get('dailyWater') || { logicalDay: logicalDay, total: 0 };\nif (dailyData.logicalDay !== logicalDay) {\n    dailyData = { logicalDay: logicalDay, total: 0 }; \n}\n\ndailyData.total += amount;\nflow.set('dailyWater', dailyData);\nflow.set('waterDrunkToday', dailyData.total);\n\n// 5. Send Outputs\nlet msg1 = { payload: dailyData.total }; \nlet msg2 = { payload: hourlyData.total, topic: \"ปริมาณ (ml)\" }; \nlet msg3 = { payload: dailyData.total, topic: \"ปริมาณ (ml)\" }; \n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 460,
        "wires": [
            [
                "49fd19ddc9644d7f"
            ],
            [
                "4d40a08d43e32e68"
            ],
            [
                "3bb7fb6bddec4d13"
            ]
        ]
    },
    {
        "id": "4d40a08d43e32e68",
        "type": "ui_chart",
        "z": "56c675a926d60f6e",
        "name": "Hourly Water",
        "group": "caa578058f4da87f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "สถิติการดื่มน้ำรายชั่วโมง (ml)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "รอรับข้อมูลการดื่มครั้งแรก...",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "3bb7fb6bddec4d13",
        "type": "ui_chart",
        "z": "56c675a926d60f6e",
        "name": "Daily Water",
        "group": "caa578058f4da87f",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "สถิติการดื่มน้ำรายวัน (ml)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "D MMM",
        "interpolate": "linear",
        "nodata": "รอรับข้อมูลการดื่มครั้งแรก...",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 7,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2CA02C",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "49fd19ddc9644d7f",
        "type": "function",
        "z": "56c675a926d60f6e",
        "name": "Main Logic Engine",
        "func": "let user = flow.get('userProfile') || {};\nlet temp = global.get('current_temp') || 25;\nlet drunk = flow.get('waterDrunkToday') || 0;\n\nif (!user.healthStatus) return null;\n\nlet startHour = 6;\nlet endHour = 22;\nlet currentHour = new Date().getHours();\n\nlet inTimeRange = false;\nif (startHour < endHour) {\n    inTimeRange = (currentHour >= startHour && currentHour < endHour);\n} else {\n    inTimeRange = (currentHour >= startHour || currentHour < endHour);\n}\n\nlet target = 0;\nlet ds = parseInt(user.diseases) || 5;\n\nif (user.healthStatus === 'normal') {\n    target = 2500;\n} else {\n    let weight = parseFloat(user.weight);\n    if (!weight || weight <= 0) return null;\n\n    let baseTarget = weight * 35;\n    target = baseTarget;\n\n    if (ds === 5) {\n        target = 2500;\n    } else if (ds === 1) {\n        let urine = parseFloat(user.urine) || 0;\n        target = urine + 500;\n    } else {\n        let age = parseInt(user.age) || 0;\n        if (age >= 30 && age <= 55) target *= 0.95;\n        else if (age > 55) target *= 0.90;\n\n        let heightCm = parseFloat(user.height) || 0;\n        if (heightCm > 0) {\n            let heightM = heightCm / 100;\n            let bmi = weight / (heightM * heightM); \n            if (bmi < 18.5) target *= 1.05;            \n            else if (bmi >= 25 && bmi < 30) target *= 0.95; \n            else if (bmi >= 30) target *= 0.90;        \n        }\n\n        if (ds === 3) target += 500;\n        else if (ds === 2 || ds === 4) target += (baseTarget * 0.20);\n    }\n\n    if (ds !== 1) {\n        if (temp >= 20 && temp <= 25) target *= 1.05;\n        else if (temp >= 26 && temp <= 30) target *= 1.10;\n        else if (temp > 30) target *= 1.15; \n    }\n}\n\nlet totalActiveHours = (endHour > startHour) ? (endHour - startHour) : (24 - startHour + endHour);\nif (totalActiveHours <= 0) totalActiveHours = 16;\n\nlet tracking = flow.get('waterTracking') || {\n    lastHour: currentHour,\n    drunkAtLastHour: drunk,\n    targetPerHour: target / totalActiveHours,\n    expectedWaterSoFar: target / totalActiveHours\n};\n\nif (currentHour === startHour && tracking.lastHour !== startHour) {\n    tracking = {\n        lastHour: currentHour,\n        drunkAtLastHour: 0,\n        targetPerHour: target / totalActiveHours,\n        expectedWaterSoFar: target / totalActiveHours\n    };\n    flow.set('muteActive', false); \n    flow.set('lastDrunkMuteCheck', 0);\n}\n\nif (currentHour !== tracking.lastHour && inTimeRange) {\n    let waterDrankLastHour = drunk - tracking.drunkAtLastHour;\n    let acceptableMin = tracking.targetPerHour * 0.8;\n    let acceptableMax = tracking.targetPerHour * 1.2;\n\n    let remainingHours = endHour - currentHour;\n    if (endHour <= startHour && currentHour >= startHour) {\n        remainingHours = (24 - currentHour) + endHour;\n    } else if (endHour <= startHour && currentHour < endHour) {\n        remainingHours = endHour - currentHour;\n    }\n    if (remainingHours < 1) remainingHours = 1;\n\n    if (waterDrankLastHour < acceptableMin || waterDrankLastHour > acceptableMax) {\n        let waterLeft = target - drunk;\n        tracking.targetPerHour = waterLeft / remainingHours;\n        if (tracking.targetPerHour < 0) tracking.targetPerHour = 0;\n    }\n\n    let hoursPassed = currentHour - startHour;\n    if (hoursPassed < 0) hoursPassed += 24; \n    if (hoursPassed === 0) hoursPassed = 1; \n    \n    tracking.expectedWaterSoFar = tracking.targetPerHour * hoursPassed;\n    \n    tracking.drunkAtLastHour = drunk;\n    tracking.lastHour = currentHour;\n\n    flow.set('waterTracking', tracking);\n}\n\nlet lastDrunkMuteCheck = flow.get('lastDrunkMuteCheck') || 0;\nif (drunk > lastDrunkMuteCheck) {\n    flow.set('muteActive', false); \n    flow.set('lastDrunkMuteCheck', drunk);\n}\n\nlet alertData = flow.get('alertData') || { lastAlertHour: -1, waterAtAlert: 0 };\nlet alert = false;\n\nlet isBehind = (drunk < tracking.expectedWaterSoFar && inTimeRange);\nlet isMuted = flow.get('muteActive') === true; \n\nif (isBehind && !isMuted) {\n    if (alertData.lastAlertHour !== currentHour) {\n        alert = true;\n        alertData.lastAlertHour = currentHour;\n        alertData.waterAtAlert = drunk;\n    } else {\n        let waterDrankSinceAlert = drunk - alertData.waterAtAlert;\n        if (waterDrankSinceAlert < (tracking.targetPerHour * 0.8)) {\n            alert = true; \n        }\n    }\n} else {\n    if (drunk >= tracking.expectedWaterSoFar) {\n        alertData.lastAlertHour = -1;\n    }\n}\n\nflow.set('alertData', alertData);\n\nlet percent = parseFloat(((drunk / target) * 100).toFixed(1));\nif (percent > 100) percent = 100; \n\nlet msg1 = { payload: (target / 1000).toFixed(2) }; \nlet msg2 = { payload: percent };                    \nlet msg3 = { alert: alert, payload: alert ? \"1\" : \"0\" }; \n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 280,
        "wires": [
            [
                "0da0b5ad6b1d8752"
            ],
            [
                "2fa1c27f60849c10"
            ],
            [
                "330d9453a35fe296"
            ]
        ]
    },
    {
        "id": "330d9453a35fe296",
        "type": "switch",
        "z": "56c675a926d60f6e",
        "name": "Trigger Alert?",
        "property": "alert",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 320,
        "wires": [
            [
                "209e48946563d98c"
            ]
        ]
    },
    {
        "id": "209e48946563d98c",
        "type": "mqtt out",
        "z": "56c675a926d60f6e",
        "name": "Buzzer Board 2",
        "topic": "room/buzzer",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0396c2c9339809f4",
        "x": 1080,
        "y": 320,
        "wires": []
    },
    {
        "id": "634fa97180541fa8",
        "type": "ui_button",
        "z": "56c675a926d60f6e",
        "name": "Mute Alarm",
        "group": "ui_group_status",
        "order": 3,
        "width": "",
        "height": "",
        "passthru": false,
        "label": "หยุดเสียงแจ้งเตือน (Mute)",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "volume_off",
        "payload": "0",
        "payloadType": "str",
        "topic": "room/buzzer",
        "topicType": "str",
        "x": 820,
        "y": 380,
        "wires": [
            [
                "5ea4a3be68b7cce0"
            ]
        ]
    },
    {
        "id": "5ea4a3be68b7cce0",
        "type": "function",
        "z": "56c675a926d60f6e",
        "name": "Set Mute State",
        "func": "flow.set('muteActive', true);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 380,
        "wires": [
            [
                "209e48946563d98c"
            ]
        ]
    },
    {
        "id": "0da0b5ad6b1d8752",
        "type": "ui_text",
        "z": "56c675a926d60f6e",
        "group": "ui_group_status",
        "order": 1,
        "width": "",
        "height": "",
        "name": "",
        "label": "เป้าหมายการดื่ม (ลิตร):",
        "format": "{{msg.payload}} L",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 840,
        "y": 200,
        "wires": []
    },
    {
        "id": "2fa1c27f60849c10",
        "type": "ui_gauge",
        "z": "56c675a926d60f6e",
        "group": "ui_group_status",
        "order": 2,
        "label": "ความคืบหน้า",
        "format": "{{msg.payload}}%",
        "min": 0,
        "max": 100,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "85c0f7e612f5c21f",
        "type": "ui_gauge",
        "z": "56c675a926d60f6e",
        "name": "",
        "group": "ui_group_status",
        "order": 4,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "",
        "label": "อุณหภูมิห้อง",
        "format": "{{value}}°C",
        "min": 15,
        "max": 45,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "291d06e4c9be78d5",
        "type": "ui_gauge",
        "z": "56c675a926d60f6e",
        "name": "",
        "group": "ui_group_status",
        "order": 5,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "",
        "label": "ความชื้นห้อง (Humidity)",
        "format": "{{value}}%",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "1c5ca576a36d4ee3",
        "type": "inject",
        "z": "56c675a926d60f6e",
        "name": "เช็คทุก 1 ชั่วโมง",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 520,
        "wires": [
            [
                "49fd19ddc9644d7f"
            ]
        ]
    },
    {
        "id": "ui_group_profile",
        "type": "ui_group",
        "name": "ข้อมูลผู้ใช้ (Patient Profile)",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "0396c2c9339809f4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.cpe.ku.ac.th",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "caa578058f4da87f",
        "type": "ui_group",
        "name": "3. สถิติการดื่มน้ำ (Statistics)",
        "tab": "ui_tab_main",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ui_group_status",
        "type": "ui_group",
        "name": "สถานะปัจจุบัน",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "Elderly Water Monitor",
        "icon": "dashboard",
        "order": 1
    }
]
