Dashboard
[
    {
        "id": "a2d07945efe475ee",
        "type": "tab",
        "label": "Elderly Water System V2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8647feea3f909445",
        "type": "ui_form",
        "z": "a2d07945efe475ee",
        "name": "Setup Profile",
        "label": "กรอกข้อมูลพื้นฐาน",
        "group": "ui_group_profile",
        "order": 1,
        "width": "6",
        "height": "0",
        "options": [
            {
                "label": "อายุ (ปี)",
                "value": "age",
                "type": "number",
                "required": true
            },
            {
                "label": "น้ำหนัก (kg)",
                "value": "weight",
                "type": "number",
                "required": true
            },
            {
                "label": "ส่วนสูง (cm)",
                "value": "height",
                "type": "number",
                "required": true
            },
            {
                "label": "ปัสสาวะ (ml)",
                "value": "urine",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "age": "",
            "weight": "",
            "height": "",
            "urine": ""
        },
        "payload": "",
        "submit": "บันทึกข้อมูล",
        "cancel": "ล้าง",
        "topic": "form_data",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "fbbc9f75143f61d8"
            ]
        ]
    },
    {
        "id": "7d7e286ed6fb7c95",
        "type": "ui_dropdown",
        "z": "a2d07945efe475ee",
        "name": "Sex",
        "label": "เพศ",
        "tooltip": "",
        "place": "",
        "group": "ui_group_profile",
        "order": 2,
        "width": 6,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "ชาย",
                "value": "male",
                "type": "str"
            },
            {
                "label": "หญิง",
                "value": "female",
                "type": "str"
            },
            {
                "label": "LGTV+",
                "value": "LGTV+",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "sex",
        "topicType": "str",
        "className": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "fbbc9f75143f61d8"
            ]
        ]
    },
    {
        "id": "093d78fa8c2f8072",
        "type": "ui_dropdown",
        "z": "a2d07945efe475ee",
        "name": "Diseases",
        "label": "โรคประจำตัว",
        "tooltip": "",
        "place": "",
        "group": "ui_group_profile",
        "order": 3,
        "width": 6,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "ไม่มี",
                "value": 5,
                "type": "num"
            },
            {
                "label": "โรคไตวายเรื้อรัง",
                "value": 1,
                "type": "num"
            },
            {
                "label": "ติดเชื้อทางเดินปัสสาวะ",
                "value": 2,
                "type": "num"
            },
            {
                "label": "โรคเบาหวาน",
                "value": 3,
                "type": "num"
            },
            {
                "label": "โรคนิ่วในไต",
                "value": 4,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "diseases",
        "topicType": "str",
        "className": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "fbbc9f75143f61d8"
            ]
        ]
    },
    {
        "id": "fbbc9f75143f61d8",
        "type": "function",
        "z": "a2d07945efe475ee",
        "name": "Save & Merge Profile",
        "func": "let profile = flow.get('userProfile') || {};\nif (msg.topic === 'form_data') {\n    profile = { ...profile, ...msg.payload };\n} else if (msg.topic === 'sex') {\n    profile.sex = msg.payload;\n} else if (msg.topic === 'diseases') {\n    profile.diseases = msg.payload;\n}\nflow.set('userProfile', profile);\nmsg.payload = profile;\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "d542a1a93beb6a8e"
            ]
        ]
    },
    {
        "id": "9d8db6b7f82fb094",
        "type": "mqtt in",
        "z": "a2d07945efe475ee",
        "name": "Board 2 Temp",
        "topic": "room/temp",
        "broker": "0396c2c9339809f4",
        "inputs": 0,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "4176a4781ca98d3c"
            ]
        ]
    },
    {
        "id": "4176a4781ca98d3c",
        "type": "function",
        "z": "a2d07945efe475ee",
        "name": "Store Temp",
        "func": "global.set('current_temp', parseFloat(msg.payload));\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 280,
        "wires": [
            [
                "d542a1a93beb6a8e",
                "d8cbe290ccdc60a0"
            ]
        ]
    },
    {
        "id": "55f7613b6c72c618",
        "type": "mqtt in",
        "z": "a2d07945efe475ee",
        "name": "Board 1 Water",
        "topic": "glass/drunk_event",
        "broker": "0396c2c9339809f4",
        "inputs": 0,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "a5950b279ff831f2"
            ]
        ]
    },
    {
        "id": "a5950b279ff831f2",
        "type": "function",
        "z": "a2d07945efe475ee",
        "name": "Daily Accumulator",
        "func": "let today = new Date().toLocaleDateString();\nlet data = flow.get('dailyWater') || { date: today, total: 0 };\nif (data.date !== today) data = { date: today, total: 0 };\ndata.total += parseFloat(msg.payload);\nflow.set('dailyWater', data);\nflow.set('waterDrunkToday', data.total);\nmsg.payload = data.total;\nreturn msg;",
        "outputs": 1,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "d542a1a93beb6a8e"
            ]
        ]
    },
    {
        "id": "d542a1a93beb6a8e",
        "type": "function",
        "z": "a2d07945efe475ee",
        "name": "Main Logic Engine",
        "func": "let user = flow.get('userProfile') || {};\nlet temp = global.get('current_temp') || 25;\nlet drunk = flow.get('waterDrunkToday') || 0;\nif (!user.weight || !user.diseases) return null;\n\nlet urine = parseFloat(user.urine) || 0;\nlet target = user.weight * 35;\nlet ds = user.diseases;\n\n// 1. คำนวณตามเงื่อนไขโรคพิเศษ\nif (ds === 1) target = urine + 500;\nelse {\n    if (user.age > 55) target *= 0.90;\n    else if (user.age >= 30) target *= 0.95;\n    \n    if (ds === 2) target *= 1.2;\n    else if (ds === 3) target += 750;\n    else if (ds === 4) target += 1000;\n}\n\n// 2. ปรับตามอุณหภูมิ\nif (temp > 30) target *= 1.17;\nelse if (temp >= 20) target *= 1.05;\n\nlet percent = ((drunk / target) * 100).toFixed(1);\nlet alert = (temp > 32 && percent < 30);\n\nmsg.payload = (target / 1000).toFixed(2);\nmsg.percent = percent;\nmsg.alert = alert;\nreturn msg;",
        "outputs": 1,
        "x": 580,
        "y": 280,
        "wires": [
            [
                "2ad7e24545eddf33",
                "2aa86bd03872d1e5",
                "132002d87f969ae7"
            ]
        ]
    },
    {
        "id": "132002d87f969ae7",
        "type": "switch",
        "z": "a2d07945efe475ee",
        "name": "Trigger Alert?",
        "property": "alert",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "outputs": 1,
        "x": 780,
        "y": 280,
        "wires": [
            [
                "fb6a569ae8ede09d"
            ]
        ]
    },
    {
        "id": "fb6a569ae8ede09d",
        "type": "time-range-switch",
        "z": "a2d07945efe475ee",
        "name": "06:00-22:00",
        "startTime": "06:00",
        "endTime": "22:00",
        "x": 960,
        "y": 280,
        "wires": [
            [
                "60adb40395db6f8d"
            ],
            []
        ]
    },
    {
        "id": "60adb40395db6f8d",
        "type": "mqtt out",
        "z": "a2d07945efe475ee",
        "name": "Buzzer Board 2",
        "topic": "room/buzzer",
        "broker": "0396c2c9339809f4",
        "x": 1150,
        "y": 280,
        "wires": []
    },
    {
        "id": "f065c85883135197",
        "type": "ui_button",
        "z": "a2d07945efe475ee",
        "name": "Mute Alarm",
        "group": "ui_group_status",
        "order": 3,
        "label": "หยุดเสียงแจ้งเตือน (Mute)",
        "bgcolor": "red",
        "icon": "volume_off",
        "payload": "0",
        "topic": "room/buzzer",
        "x": 950,
        "y": 340,
        "wires": [
            [
                "60adb40395db6f8d"
            ]
        ]
    },
    {
        "id": "2ad7e24545eddf33",
        "type": "ui_text",
        "z": "a2d07945efe475ee",
        "group": "ui_group_status",
        "order": 1,
        "label": "เป้าหมายการดื่ม (ลิตร):",
        "format": "{{msg.payload}} L",
        "x": 800,
        "y": 220,
        "wires": []
    },
    {
        "id": "2aa86bd03872d1e5",
        "type": "ui_gauge",
        "z": "a2d07945efe475ee",
        "group": "ui_group_status",
        "order": 2,
        "label": "ความคืบหน้า",
        "format": "{{msg.percent}}%",
        "min": 0,
        "max": 100,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "d8cbe290ccdc60a0",
        "type": "ui_gauge",
        "z": "a2d07945efe475ee",
        "group": "ui_group_status",
        "order": 4,
        "label": "อุณหภูมิห้อง",
        "format": "{{value}}°C",
        "min": 15,
        "max": 45,
        "x": 520,
        "y": 380,
        "wires": []
    },
    {
        "id": "ui_group_profile",
        "type": "ui_group",
        "name": "ข้อมูลผู้ใช้ (Patient Profile)",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "0396c2c9339809f4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.cpe.ku.ac.th",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ui_group_status",
        "type": "ui_group",
        "name": "สถานะปัจจุบัน",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "Elderly Water Monitor",
        "icon": "dashboard",
        "order": 1
    }
]

